body {
    background-color: rgb(200, 251, 255);
    font-family: monospace;
    font-size: larger;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.containerColor {
    background-color: rgb(194, 255, 199);
}

table {
    border-collapse: collapse;
    background-color: rgb(243, 243, 243);
    text-align: center;
}
  
table, th, td {
    border: 1px solid black;
}

button {
    background-color: #f8ffce;
}